<div class="inventory-filters flexrow">
    <ol class="currency flexrow">
        <h3>
            {{localize "DND5E.Currency"}}
            <a class="currency-convert rollable" data-action="convertCurrency" title="Convert Currency">
                <i class="fas fa-coins"></i>
            </a>
        </h3>
        {{#each data.currency as |v k|}}
            <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
            <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
        {{/each}}
    </ol>
</div>

<div class="item-list-wrapper inventory-list">
    <ol class="items-list">
        {{#if isEditing}}
            {{> "modules/fvtt-slotted-inventory/src/templates/partials/inventory/edit.html"}}
        {{else}}
            {{> "modules/fvtt-slotted-inventory/src/templates/partials/inventory/view.html"}}
        {{/if}}
    </ol>
</div>

{{#if owner}}
    <div class="slotted-inventory-footer">
        <a class="slotted-inventory-edit-toggle">
            {{#if isEditing}}
                <i class="fas fa-pen-nib"></i> Editing Mode
            {{else}}
                <i class="fas fa-th-list"></i> Inventory Mode
            {{/if}}
        </a>
    </div>
{{/if}}
