{{#each sections as |section|}}
    <li>
        <div class="items-header flexrow" data-slotted-inventory-section="{{@key}}">
            {{#unless (eq @key 'overflow')}}
                <span class="slotted-inventory-section-edit">
                    <i class="fas fa-edit"></i>
                </span>
            {{/unless}}
            <h3 class="item-name flexrow">{{localize section.label}}</h3>
        </div>
        <ol class="item-list">
            {{#each section.slots as |slot i|}}
                <li class="item flexrow"
                    data-slotted-inventory-section="{{@../key}}"
                    data-slotted-inventory-slot="{{i}}"
                >
                    <div class="item-name {{#if slot.item}}flexrow{{else}}slot-placeholder{{/if}}">
                        {{#if slot.item}}<div class="item-image" style="background-image: url('{{slot.item.img}}')"></div>{{/if}}
                        <h4 title="{{slot.label}}">
                            {{slot.label}}
                        </h4>
                    </div>
                    <div class="item-slot-details">
                        {{#if slot.size}}({{slot.size}}){{/if}}
                    </div>
                    <div class="item-controls flexrow">
                        <a class="item-control slot-edit" title="{{localize "Edit Slot"}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </li>
{{/each}}