.inventory.slotted-inventory li.item > .item-slot-details {
    flex: none;
    max-width: 128px;
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
}

.inventory.slotted-inventory li.item > .slot-placeholder {
    height: 30px;
    padding-left: 35px;
    display: flex;
    align-items: center;
}

.inventory.slotted-inventory li.item > .item-name > h4 {
    text-overflow: ellipsis;
}

.inventory.slotted-inventory li.item > .item-controls > .item-create {
    margin-left: auto;
    max-width: 33%;
}

.inventory.slotted-inventory div.item-list-wrapper {
    overflow: auto;
}

.inventory.slotted-inventory ol.items-list {
    column-count: 3;
    column-width: 300px;
}

.inventory.slotted-inventory ol.items-list > li {
    break-inside: avoid;
}

span.slotted-inventory-section-toggle,
span.slotted-inventory-section-edit {
    cursor: pointer;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    flex: 0;
}

.slotted-inventory-footer {
    flex: 0;
    display: flex;
    width: 100%;
    padding: 0.25em 2em 0.25em 1em;
    border-bottom: #b4b3ab 2px solid;
    border-top: #b4b3ab 1px solid;
}
